name = "wsmcs"
main = "workers-site/index.js"
account_id = "d906205f76f930ec274dd4ae5537ecf0"  # Tom_chicken@qq.com's Account
compatibility_date = "2025-01-01"

# 定义环境
[env.production]
name = "wsmcs-prod"
account_id = "d906205f76f930ec274dd4ae5537ecf0"  # Tom_chicken@qq.com's Account
routes = [
  { pattern = "wsmcs.top", zone_name = "wsmcs.top" },
  { pattern = "*.wsmcs.top", zone_name = "wsmcs.top" }
]
vars = { ENVIRONMENT = "production" }



# 开发配置
[dev]
port = 8787
local_protocol = "http"



# 告诉 Wrangler 在哪里找到我们的源代码
[assets]
directory = "./dist"
binding = "ASSETS"

# 性能优化 - 免费计划限制
[limits]
cpu_ms = 10
